#login h3 { 
    margin-top: 200px;
    color: red  !important
  }

label.text-info{
    color: black !important;
}

.modal-body{
    color:black !important;
}

.login-column{
    margin-top: 10px !important;
}

#login-box h3{
    color:red !important;
}